<h1>edit</h1>
<%= render "form", mushroom: @mushroom %>

<%= button_to "Delete Mushroom", mushroom_path(@mushroom), method: :delete, data: { confirm: "Are you sure you want to delete this mushroom?" } %>
<%= link_to "Back to Mushrooms", mushrooms_path %>