<p style="color: green"><%= notice %></p>

<h1>Mushrooms</h1>

<div id="mushrooms">
  <% @mushrooms.each do |mushroom| %>
    <%= render mushroom %>
    <p>
      <%= link_to "Show this mushroom", mushroom %>
    </p>
  <% end %>
</div>

<%= link_to "New mushroom", new_mushroom_path %>
