<p style="color: green"><%= notice %></p>

<h1>Mushrooms</h1>

<h3>In recent years, a body of remarkable experiments have shown that fungi operate as individuals, engage in decision-making, are capable of learning, and possess short-term memory.</h3>

<div id="mushrooms">
  <% @mushrooms.each do |mushroom| %>
    <%= render mushroom %>
    <p>
      <%= link_to "Show this mushroom", mushroom %>
    </p>
  <% end %>
</div>

<%= link_to "New mushroom", new_mushroom_path %>
