<h1>Things you'll need and some you'll want</h1>

<h2>NEED:</h2>
    <ul>
        <li>A region specific guide let's you know what mushrooms you're likely to find in your area.</li>
        <li>A basket or a mesh bag so that the spores can fall from the mushrooms you've picked to repopulate the forest floor.</li>
        <li>In some areas, you'll need a permit in order to forage.</li>
    </ul>

<h2>NICE TO HAVE:</h2>
    <ul>
        <li>A pocket knife to make plucking easier.</li>
        <li>A brush helps you clean the mushroom caps and gills.</li>
        <li>An offline gps in case you get deep into the forest.</li>
        <li>Many foragers wear bright clothing to stay visible to their foraging friends in a dense forest.</li>
        <li>Insect repellent!</li>
    </ul>

<%= link_to "Back to Home", users_home_path %>
<%= button_to "See your mushrooms", mushrooms_path, method: :get %>