<div class="tools-page" id="centered-list">
<h1>Things you'll need:</h1>

<div class="tools-items">
        <ul>
        <h2>A region specific guide let's you know what mushrooms you're likely to find in your area.</h2>
        <br>
        <h2>A basket or a mesh bag so that the spores can fall from the mushrooms you've picked to repopulate the forest floor.</h2>
        <br>
        <h2>A brush helps you clean the mushroom caps and gills.</h2>
        <br>
        <h2>An offline gps in case you get deep into the forest.</h2>
        <br>
        <h2>A pocket knife to make plucking easier.</h2>
        <br>
        <h2>Many foragers wear bright clothing to stay visible to their foraging friends in a dense forest.</h2>
    </div>
</div>