<h1>Welcome to the Foragers Guide To Mushrooms... And Not Dying</h1>

<ul>
  <% @default_mushrooms.each do |mushroom| %>
    <li><%= mushroom.name %> - <%= mushroom.body %></li>
  <% end %>
</ul>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
