<h1>Welcome to the Foragers Guide To Mushrooms... And Not Dying</h1>

<%= link_to 'View Profile', user_path(@user) %>

<ul>
  <% @default_mushrooms.each do |mushroom| %>
    <li><%= mushroom.name %> - <%= mushroom.body %></li>
  <% end %>
</ul>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
