body {
    display: block;
}

.edit-pg {
    display: flex;
    justify-content: center;
}

.update {
    display: flex;
    justify-content: center;  
    margin: 0px auto;
    width: 100%;
    height: 400px;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.input-name {
    letter-spacing: .15em;
    margin-top: 20px;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
}

.input-body{
    letter-spacing: .15em;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
}

.input-boolean{
    letter-spacing: .15em;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
}

.input-img{
    letter-spacing: .15em;
    font-size: 20px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
}

.edit-btn{
    margin-top: 60px;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    letter-spacing: .15em;
    font-weight: bold;
    cursor: pointer;
}

.edit-btn:hover{
    background-color: #3e8e41;
}

.form-fields{
    display: block;
    width: 85%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}