.action-btns-container {
    display: flex;
    justify-content: space-between;
}

.action-btns {
    display: inline-block;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
}

.mushroom-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 25% 25% 25% 25% ;
        grid-template-rows:  20% 20% 20% 20%;
        grid-gap: 45px;
        list-style-type: none;
}

.mushie {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.mushrooms {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#urmushies {
    text-align: center;
}

.mushname {
    font-size: 30px;
    margin-top: 30px;
}

.spacing {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shrooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 275px;
    height: 400px;
    border: 2px solid green;
    border-radius: 20px;
    margin-bottom: 10px;
}

.shroomm{
    display: flex;
    justify-content: center;
}

