.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }

  .signup-header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #signup-form {
    margin: auto;
    width: 400px;
    height: 540px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #signup-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-row {
    margin-bottom: 20px;
  }

  .label {
    display: block;
    font-size: 14px;
    font-weight: bold;
  }
  
  .form-input {
    display: block;
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .actions {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #3e8e41;
  }
  